In [1]:
import requests

In [2]:
requests.get("http://www.baidu.com")

In [17]:
df = pd.DataFrame({"A": [1, 2], 'B': [2, 3], 'C': [4, 5], 'D': [5, 6]})

In [18]:
df

   A  B  C  D
0  1  2  4  5
1  2  3  5  6

In [19]:
df.groupby(['111', '222', '111', '222'], axis=1).sum()['111']

0    5
1    7
Name: 111, dtype: int64

In [20]:
df.iloc[:, 13]

   B  C
0  2  4
1  3  5